<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.trdroidsms" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
	<application android:label="TRDroidSms.Android" android:theme="@style/MainTheme" android:icon="@mipmap/icon">
		<service android:name="com.companyname.trdroidsms.DownloadJob"
		   android:permission="android.permission.BIND_JOB_SERVICE" >
		</service>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.BROADCAST_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.SMS_FINANCIAL_TRANSACTIONS" />


	<queries>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="smsto" />
		</intent>
	</queries>
</manifest>